.form-label {
    font-weight: bold;
}

html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


div#firmware_update_available h1 {
    font-size: 1.4rem;
}

div#firmware_update_available h2 {
    font-size: 1.0rem;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

tr.switchRow,
tr.rgbRow,
tr.adcRow,
tr.pwmRow #statsTable tbody tr {
    height: 48px;
}

/* .controlCard {
    height: 160px;
} */

.brineomaticControlButton {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem !important;
}

.brineomaticControlButton span {
    width: 100px;
    display: inline-block;
}

#bomTableBody th {
    width: 50%;
}

.relayButton,
.pwmButton {
    width: 100%;
    height: 100px;
    font-weight: bold;
    font-size: 1.3rem !important;
}

.servoName,
.stepperName {
    font-weight: bold;
    font-size: 1.3rem !important;
}

#mqtt_cert,
#server_key,
#server_cert {
    height: 150px;
}

.pwmButton .pwmDutySlider {
    height: 75px;
}

.pwmData {
    width: 70px;
    font-size: 1rem !important;
}

.pwmDutySliderButton {
    width: 45px;
}

.pwmDutyCycle {
    font-size: 0.8rem;
}

.relayIcon svg,
.pwmIcon svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
}

/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... } */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .pwmButton {
        height: 70px;
        font-size: 1.1rem !important;
    }

    .pwmButton .pwmDutySlider {
        height: 50px;
    }

    .pwmData {
        width: 45px;
        font-size: 0.8rem !important;
    }
}

/* // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... } */

/* // Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */

[data-bs-theme="dark"] img.logo {
    -webkit-filter: invert(.75);
    /* safari 6.0 - 9.0 */
    filter: invert(.75);
}

/* [data-bs-theme="light"] {
    --bs-body-bg: #eee;
}

[data-bs-theme="light"] .navbar {
    background: #ccc;
} */

#configurationTextarea.is-drop-target {
    outline: 2px dashed var(--bs-primary);
    background: rgba(13, 110, 253, .06);
    /* bootstrap primary tint */
}

table.ministats {
    width: auto;
    margin-bottom: 0px;
}

table.ministats tbody tr:last-child th,
table.ministats tbody tr:last-child td {
    border-bottom: none;
}

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}