.brineomaticControlButton {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem !important;
}

.brineomaticControlButton span {
    width: 100px;
    display: inline-block;
}

#bomTableBody th {
    width: 50%;
}

.relayButton,
.pwmButton {
    width: 100%;
    height: 100px;
    font-weight: bold;
    font-size: 1.3rem !important;
}

.servoName,
.stepperName {
    font-weight: bold;
    font-size: 1.3rem !important;
}

.pwmButton .pwmDutySlider {
    height: 75px;
}

.pwmData {
    width: 70px;
    font-size: 1rem !important;
}

.pwmDutySliderButton {
    width: 45px;
}

.pwmDutyCycle {
    font-size: 0.8rem;
}

.relayIcon svg,
.pwmIcon svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .pwmButton {
        height: 70px;
        font-size: 1.1rem !important;
    }

    .pwmButton .pwmDutySlider {
        height: 50px;
    }

    .pwmData {
        width: 45px;
        font-size: 0.8rem !important;
    }
}

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

/* When Bootstrap dark theme is active */
html[data-bs-theme="dark"] .c3 .c3-gauge-value,
html[data-bs-theme="dark"] .c3 .c3-gauge-units,
html[data-bs-theme="dark"] .c3 .c3-axis text {
    fill: var(--bs-body-color) !important;
}

.filterPressureError,
.membranePressureError,
.motorTemperatureError,
.tankLevelError {
    display: none;
}

.filterPressureError>.d-flex,
.membranePressureError>.d-flex,
.motorTemperatureError>.d-flex,
.tankLevelError>.d-flex {
    height: 100px;
}